<div>
<h2>Card Number*</h2>
<form>
    <input type="text" #box1 (keyup)="onKeyUp($event, box1)" maxlength="4" (paste)="keytab($event, box1)" (keypress)="validateNumber($event)"/>
    <input type="text" #box2 (keyup)="onKeyUp($event, box2)" maxlength="4" (paste)="keytab($event, box2)" (keypress)="validateNumber($event)"/>
    <input type="text" #box3 (keyup)="onKeyUp($event, box3)" maxlength="4" (paste)="keytab($event, box3)" (keypress)="validateNumber($event)"/>
    <input type="text" #box4 (keyup)="onKeyUp($event, box4)" maxlength="4" (paste)="keytab($event, box4)" (keypress)="validateNumber($event)"/>

  </form>
  </div>